.modal__input {
  width: 100%;
  margin-top: 16px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  background-color: transparent;
  font-family: inherit;
}

.modal__input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}