.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  width: 28px;
  height: 28px;
  left: 0;
  transition: all 0.2s;
}

.toggle-switch__text {
  position: absolute;
  top: 4px;
  color: #fff;
}

.toggle-switch__text_F {
  left: 9px;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__text_C {
  right: 9px;
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: #fff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
