.modal__container {
  max-width: 670px;
  max-height: 280px;
  margin: 0;
  background-color: #fff;
  padding: 28px 28px 36px;
  border-radius: 20px;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  position: relative;
}

.modal__title {
  margin: 0;
  padding-top: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__delete_close img {
  width: 100%;
  height: 100%;
  display: block;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  padding: 20px 32px;
  justify-content: center;
  width: 630px;
  gap: 12px;
}

.modal__btn {
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobal__btn_type_delete {
  color: #ff4d00;
  margin: 0;
  font-weight: 700;
  padding-bottom: 20px;
}

.mobal__btn_type_cancel {
  margin: 0;
  font-weight: 700;
}
