

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.cards__text {
  font-family:
    "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  padding-bottom: 34px;
  margin: 0;
}
