.modal {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
  transition: smooth 1s;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  padding-bottom: 24px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}
.modal__content {
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;

  border-top: 1px solid rgba(0, 0, 0, 0.03);
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
