.modal {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
  transition: smooth 1s;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
}
.modal__content {
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 435px;
  display: block;
  border: none;
  margin-top: 32px;
  border-bottom: 1px solid #000;
}

.modal__legend {
  margin-bottom: 24px;
  color: #000;
}

.modal__radio-buttons {
  border: none;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-input {
  margin-right: 8px;
  accent-color: #000;
  color: rgba(0, 0, 0, 0.5);
}
.modal__label_type_radio:has(input:checked) {
  color: #000;
}
.modal__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  max-width: 124px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
