.header {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  margin-right: 24px;
}

.header__controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

 .header__auth-btns button{
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.header__add-clothes-btn:hover {
  opacity: 20%;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 100%;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.header__avatar-placeholder,
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}