.modal {
  font-family:
    "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  position: fixed;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}
.modal_opened {
  opacity: 1;
  visibility: visible;
}
.modal__content_type_image {
  position: relative;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__close-button {
  color: #fff;
  cursor: pointer;
}

.modal__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 1;
}

.modal__footer {
  position: relative;
  z-index: 2;
  margin-top: 420px;
  background: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modal__delete-button {
  border: none;
  position: absolute;
  background-color: transparent;
  bottom: 50px;
  right: 20px;
  font-size: 24px;
  color: #ff4d00;
  cursor: pointer;
}
