.modal {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  position: fixed;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.modal_opened {
  opacity: 1;
  visibility: visible;
}
.modal__content_type_image {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
}

.modal__close-button {
  color: #fff;
  cursor: pointer;
}

.modal__image {
  height: 420px;
  width: 100%;

  object-fit: cover;
  object-position: top;
}

.modal__footer {
  padding: 20px;
  flex-shrink: 0;
}

.modal__delete-button {
  border: none;
  position: absolute;
  background-color: transparent;
  bottom: 73px;
  right: 20px;
  font-size: 24px;
  color: #ff4d00;
  cursor: pointer;
}
