.sidebar {
   font-family:
 "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__user-info {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  right: 20px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  padding-right: 16px;
  width: 300px;
  cursor: pointer;
  background-color: transparent;
  color: #000;
}

.sidebar__editprofile {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 100%;
  padding-top: 24px;
  right: 20px;
  background-color: transparent;
  color: #000;
  text-align: left;
  white-space: nowrap;
}

.sidebar__signout {
  position: relative;
  right: 20px;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color:#000;
  width: 100%;
  text-align: left;
}