.footer {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 85px 20px 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
