.modal {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}


.modal__content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
}


.modal__title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}


.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}


.modal__input {
  width: 100%;
  margin-top: 16px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  box-sizing: border-box;
}


.modal__submit,
.modal__switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 16px;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.modal__submit {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}


.modal__switch {
  background: none;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  padding: 8px 16px; 
}
.modal__switch:hover {
  color: rgba(0, 0, 0, 0.8);
}