.clothes-section {
  font-family:
    "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin-left: 85px;
  color: #000;
}
.clothes-section__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.clothes-section__items {
  max-width: 1015px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.clothes-section__button {
  background: none;
  margin-left: 16px;
  border: none;
  cursor: pointer;
  opacity: 60%;
}
