.weather-card {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 40px;
}

.weather-card__temp {
  font-weight: 700;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__image {
  width: 100%;
  object-fit: cover;
  object-position: right top;
  border-radius: 8px;
}
