/* Base modal styles are in ModalWithForm.css */

.modal__content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
}

.modal__title {
  margin-top: 0;
  padding-top: 1px;
  font-size: 16px;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 28px;
  right: 28px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  margin-top: 16px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  box-sizing: border-box;
}

.auth-modal__submit,
.modal__switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 16px;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: 2s;
}

.auth-modal__submit {
  background-color: rgba(0, 0, 0);
  color: #fff;
}
.auth-modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: not-allowed;
}

.modal__switch {
  background: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
}
.login-modal__error {
  color: #FF4D00;
  margin: 24px 0 32px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
}
